{% extends "base.html" %}

{% block body %}
<p>整列の誘導について</p>
<pre>
    /整列は教室から通路を挟んだ向かいの廊下で行う
    /教室後方を列の先頭とし、教室前方に向かって2列で整列する
    /整列係は第一にこの整列を徹底する。また、前の客から順にオーダーを聞く(詳細は以下)//
</pre>
<p>オーダーについて</p>
<pre>
    /スマホをWiFiに接続してQRからhomeへ移動する (パスワード、QRは相原へ)
    /オーダーのリンクへ移動し、自分の名前を入力する
    /1グループのメンバー、1グループごとのオーダーを入力する
    /画面に出てきた受付番号を食券裏にボールペンで記入する
    /その食券をグループの誰かに渡す(複数注文でも必ず1枚)//
</pre>

<p>受付について</p>
<pre>
    /教室の状況を見て入場の案内をする
    /食券を受け取り、スタンプを押す
    /裏の受付番号をシステムプログラムに入力する
    /出てきたオーダー表の通りに商品を用意する
    /商品数に応じて食券を増やし、お客様控え側をホッチキス留めする
    /半分に食券を切り、商品と一緒に料金と交換する//
</pre>
{% endblock %}