{% extends "base.html" %}

{% block body %}
<style>
  input {
    width: 80%;
    height: 200px;
    font-size: 150px;
  }
</style>
<a href="/maker-list">オーダーリスト</a>
<pre>
<h1>塩        : {{ first.solt_butter }}</h1>
<h1>カレー　   : {{ first.curry }}</h1>
<h1>キャラメル : {{ first.caramel }}</h1>
<h1>チョコ　　 : {{ first.chocolate }}</h1>
<h1>その他　　 : {{ first.enter }}</h1>
<h3>担当:{{ first.name }}</h3>
</pre>
{% if first.name %}
<form action="" method="post">
  <input type="submit" name="button_1" value="調理済">
  {% csrf_token %}
</form>
{% endif %}
<meta http-equiv="Refresh" content="7.5;URL=/maker">
{% endblock %}